<h1>Update Pet</h1>

<h2>Edits for <%= @pet.name %></h2>

  <form action="/pets/<%= @pet.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label>Edit the Pet's Name:</label>
    <br>
    <input type="text" name="pet[name]" id="pet_name" value= "<%= @pet.name %>" >

    <br>
    <p>Select an existing owner or create a new one below.</p>


    <h3>Existing Owners</h3>
  <% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value= "<%= owner.id %>" 
        <% if @pet.owner_id == owner.id %>
            checked
        <% end %>
    > 
    <%= owner.name %> <br>
  <% end %>
  <br>  
  
  <label>New Owner:</label>
  <br>
  <input type="text" name="owner[name]" id="owner_name">

  <br>

    <input type="submit" value="Update Pet">
  </form>


